/* Button styles for the project */
.button, .primary-pink-button-button, .primary-pink-button-button1, .secondary-button-button, .outline-black-button-button, .outline-gray-button-button {
  color: var(--dl-color-secondary-400);
  display: inline-block;
  padding: 0.5rem 1rem;
  font-family: Open Sans;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  border-radius: 4px;
  background-color: var(--dl-color-gray-white);
  transition: all .15s ease-in;
  cursor: pointer;
}

.button:hover, .primary-pink-button-button:hover, .primary-pink-button-button1:hover, .secondary-button-button:hover, .outline-black-button-button:hover, .outline-gray-button-button:hover {
  transform: scale(1.02);
}
